@forward "variables";
@forward "mixins";
@use "page-transitions";

/**
 * Global Reset* and Base Styles
 * - *The reset was taken care by TailwindCSS Preflight
 *   - Preflight includes .sr-only for screen-reader-only text 💪🏽
 */
html {
  font-family: 'Inter', sans-serif;
}

body {
  @apply bg-slate-50 text-slate-900;
}

img {
  display: inline-block;
}

button:disabled {
  cursor: not-allowed;
}

@media (prefers-reduced-motion: reduce) {

  .toast-slide-enter-active,
  .toast-slide-leave-active {
    transition: none !important;
  }
}